html {
  background-color: #F6F6F6;
  
}
a{
  text-decoration: none;
  padding: none;
}

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  margin-top: 80px;
  overflow-x: hidden;
  border-right-style:solid;
  border-right-color: #C2FAF1;
  border-right-width: 1.5px;
  padding: 0px;
  background-color: #C8F0FF; 

}

.main{
  margin-left:250px;
}

.homebutton{
  background: none !important;
    color: inherit;
    border: none;
    padding-top: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
    font-family: 'Source Sans Pro', sans-serif;
    display:inline-block;
}

.navbuttons{
    margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 40px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 70px;
  color: #C8F0FF;
}

.header-bar-cont {
  width:100%;
  position: fixed;
  top: 0px;
  background-color: #F6F6F6;
  font-family: 'Source Sans Pro', sans-serif;
}

.header-bar {
  height: 70px;
  width: 100%;
  background-color:  #2191FB;
  color:#F6F6F6;
  display: table;
  margin: 0px auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.spacing {
  height: 80px;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 40px;
  font-size: 40px;
  font-family: 'Kameron', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  line-height: 70px;
  color: #C8F0FF;/*#DFEFF0;*/
}


.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans" Sans-serif;
  margin: 10% auto;
}

.filters{
  margin: 25% auto;
}

.drop-down select {
  height: 35px;
  width: 210px;
  color: black;
  font-size: inherit;
  padding-bottom: 0;
  border-width: 1px;
  border-color:#C2FAF1;
  margin: 10% auto;
  border-radius: 2.5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  margin-left:8%;
  padding-left: 5px;
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: -.4em;
  top: 50%;
  margin-top: -.25em;
}




.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}

.ZIP {
  height: 35px;
  width: 210px;
  font-size: inherit;
  border-width: 1px;
  border-color: #C8F0FF; 
  border-radius: 4px;
  margin: 10% auto;
  margin-top: 17%;
  margin-left:7%;
}

.job{  
  padding: 3%;
  width:65%;
  margin:0 auto;
  float: none;
  background-color:#F6F6F6;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  padding-bottom: 0%;
}

.Title{
  float: left;
  font-size:24px;
  padding-bottom: 2px;
  display:inline-block;
  margin-top: 0px;
}
.Description{  
  font-size:16px;
  float: left;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #C8F0FF; 
  padding-bottom: 6%;
  margin-bottom: 0px;
}

.Location{
  font-size:15px;
  margin-bottom: 5%;  
  display:inline-block;
  padding-right:20px;
  float:right;
  line-height: 30px;
}
.Education{
  float: left;
  font-size:15px;
  font-style: italic;
  clear: left;
}
