html {
  /*background: #BFDFFF;*/ /* for browsers that do not support gradients */
  /*background: linear-gradient(rgba(191, 223, 255,1), rgba(86, 181, 221,1)) no-repeat center center fixed; 
  background-size: cover;*/
/*background-image:url(dust_scratches.png);*/
background-image:url(light_grey.png);
}


.homebutton{
  background: none !important;
    color: inherit;
    border: none;
    padding-top: 0px;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;

}

.header-bar-cont {
  width:100%;
  position: fixed;
  top: 0px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.header-bar {
  height: 70px;
  width: 100%;
  /*background-color: #273043;*/
  color: #1B2845;
  display: table;
  margin: 0px auto;
  /*background: #1B2845;*/
  background-image:url(headerchoice.png);
  border-style:solid;
  border-width:1px;
  border-color:black;
  /*border-color:#335C81;*/
}

.spacing {
  height: 135px;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 40px;
  font-size: 40px;
  font-family: Century;
  line-height: 70px;
}

.removebutton{
  /*border-radius: 8px;
  padding: 5px px;
  font-size: 22px;*/
  background-color: white;
  border-width:1px;
  border-color:lightgray;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  height: 35px;
}

.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Open Sans" Sans-serif;
}
/*
.filter-bar{
  background-color: black;
}*/
.filters{
  font-family: Avenir;
}

.drop-down select {
  background-color: white;

  color: black;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border-width: 1px;
  border-color:lightgray;
  margin: 0;
  border-radius: 2.5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}

.ZIP {
  height: 35px;
  width: 210px;
  font-size: inherit;
  border-width: 1px;
  border-color:lightgray;
  border-radius: 4px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}




.job{
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  width:70%;
  margin: auto;
  margin-top:30px;
  background-color:white;
  border-style:solid;
  border-width: 1px;
  border-color:lightgray;
  border-radius: 10px;
  /*
  border-style:solid;
  border-width:5px;
  border-color:#335C81;
  */
  font-family: "Open Sans";
  /*display: none;*/
}
.Title{
  font-size:30px;
  font-family: "Bitter";
  padding-bottom: 2px;
  display:inline-block;
}
.Description{
  
  font-size:16px;
  margin-bottom:15px;
  padding: 3px;

}
.Location{
  font-family: "Bitter";
  font-size:20px;
  display:inline-block;
  /*padding-right:10px;
  padding-left: 3px;
  padding-bottom: 10px;*/
  padding-right:20px;
  float:right;
  line-height: 30px;
}
.Education{
  font-family: "Bitter";
  font-size:15px;
  padding-bottom: 10px;
  font-style: italic;
}
